:root {
    --primary: #65a30d;
    --primary-hover: #84cc16;
    --dark-bg: #121212;
    --card-bg: #1e1e1e;
    --row-bg: #181818;
    --text-light: #e0e0e0;
    --text-muted: #bdbdbd;
    --border-color: #333;
    --font-body: 'Cambria', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
    color: var(--text-light)
}
body{
    background-color: var(--card-bg);
}
header{
    padding: 20px 40px;
    background-color: var(--dark-bg);
}
header h1{
    font-size: clamp(30px, 4vw, 60px);
    color: var(--primary);
}
header p{
    font-size: clamp(20px, 2vw, 30px);
}
h2{
    padding: 20px;
    text-align: center;
    color: var(--primary);
    font-size: 1.2em;
}
.container3{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    gap: 10px;
}
.container3 h2{
    font-size: 1em;
}
.center-image{
    width: 100%;
}
.content{
    padding: 10px;
    color: var(--primary);
}
.content h3{
    color: var(--primray);
}
@media (max-width: 768px) {
    .container3{
        flex-direction: column;
    }
}