:root {
    --primary: #65a30d;
    --primary-hover: #84cc16;
    --dark-bg: #121212;
    --card-bg: #1e1e1e;
    --row-bg: #181818;
    --text-light: #e0e0e0;
    --text-muted: #bdbdbd;
    --border-color: #333;
    --font-body: 'Cambria', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
    color: var(--text-light)
}
header{
    padding: 20px 40px;
    background-color: #121212;
}
header h1{
    font-size: clamp(30px, 4vw, 60px);
    color: var(--primary);
}
header p{
    font-size: clamp(20px, 2vw, 30px);
}
main{
    background-color: #1e1e1e;
}
.container1{
    padding: clamp(10px, 3vw, 40px);
    display: flex;
}
.con1{
    width:50%;
}
.con1 p{
    font-size: clamp(15px, 2vw, 20px);
    padding: 10px 0;
}
.con2{
    display: inline-block;
    width: 50%;
    text-align: center;
}
.con2 img{
    margin: 10px;
    width: clamp(130px, 50%, 250px);
}
.container2{
    display: flex;
}
.container2 article{
    margin: 4px;
    padding: 1vw;
    border-right: 1px solid white;
}
article p{
    padding: 5px 0;
}
article h2{
    color: var(--primary)
}
.images {
    display: flex;
    gap: 20px;
    padding: 40px;
    background: #121212;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.images img {
    height: 250px;
    width: auto;
    border-radius: 15px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.images img:hover {
    transform: scale(1.05); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.7);
}

.container3{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    gap: 10px;
}
.center-image{
    width: 100%;
}
.content{
    padding: 10px;
}
.content h3{
    color: var(--primary);
}

@media (max-width: 1024px) {
    .images img {
        height: 200px;
    }
}

@media (max-width: 768px) {
    .con1, .con2{
        width: 100%;
    }

    .container2{
        display: block;
    }
    .container2 article{
        width: 100%;
        border: none;
        margin: 0;
    }
    article h2{
        font-size: 1.3rem;
    }
    .images{
        padding: 10px;
    }
    .images img {
        height: 100px;
        width: 100px;
    }
    .images img {
        height: 150px;
    }

    .container3{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .images img {
        height: 120px;
    }
}
