:root {
    --primary: #65a30d;
    --primary-hover: #84cc16;
    --dark-bg: #121212;
    --card-bg: #1e1e1e;
    --text-light: #e0e0e0;
    --text-muted: #cccccc;
    --border-color:overflow-x #333;
    --font-body: 'Cambria', serif;
}


body {
    font-family: var(--font-body);
    background: var(--dark-bg);
    color: var(--text-light);
}


/* TOPBAR */
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--card-bg);
    color: var(--primary);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

/* MENU BUTTON */
.menu-btn {
    background: var(--primary);
    color: var(--text-light);
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 18px;
}

/* TITLE */
.topbar-title {
    font-weight: 600;
    font-size: 16px;
    color: var(--primary);
}
/* WRAPPER */
.admin-wrapper {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background: var(--card-bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
}

h3{
    color: var(--primary);
    font-weight: 600;
}

.logo {
    color: var(--primary);
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

.sidebar a {
    color: var(--text-light);
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 5px;
}

.sidebar a:hover,
.sidebar a.active {
    background: var(--primary);
    color: white;
}

.logout-btn {
    margin-top: auto;
    background: #b91c1c;
    text-align: center;
}

.logout-btn:hover{
    background: #dc2626 !important;
}

.offcanvas-header{
    background-color: var(--primary);
}

/* MAIN */
.main-content {
    margin-left: 250px;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 0;
}

/* SECTION */
.content-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.section-box {
    background: var(--card-bg);
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
    
}


/* TABLE */
.table thead th {
    position: sticky;
    top: 0;
    background: var(--primary);
    z-index: 2;
}

.action-button {
    display: flex;
    gap: 10px;
}

/* MOBILE */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-content {
        margin-left: 0;
    }
    .section-box {
        margin-top: 55px;
    }
}